
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
<script language="javascript">
if (!/\.html$|\/$|#/.test(window.location.href))
  window.location.href = window.location.href + "/";
</script>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>More about {{ hostname }}</TITLE>
<LINK rel="stylesheet" href="report.css" type="text/css">
</HEAD>
<BODY>
<TABLE style="width: 100%; border-spacing: 0px; border-collapse: collapse;"><TR><TD style="padding: 0px; text-align: left;"><I><A href="./index.html">Back to the &quot;Multiple platform build/check report&quot;</A></I></TD></TR></TABLE>
<DIV class="{{ hostname_css }}">
<H1>More about zin2</H1><TABLE>
<TR><TD><B>Hostname:&nbsp;</B></TD><TD>{{ hostname }}</TD></TR>
<TR><TD><B>OS:&nbsp;</B></TD><TD>{{ os }}</TD></TR>
<TR><TD><B>Arch:&nbsp;</B></TD><TD>{{ arch }}</TD></TR>
<TR><TD><B>Platform:&nbsp;</B></TD><TD>{{ platform }}</TD></TR>
<TR><TD><B>R&nbsp;version:&nbsp;</B></TD><TD>{{ r_version }}</TD></TR>
</TABLE>
<HR>
<H2>C compiler</H2>
<TABLE class="Rconfig">
<TR><TD style="background: #CCC; width: 150px;"><I><B>R variable</B> (VAR)</I></TD><TD style="background: #CCC;"><I><B>Value</B> ('R&nbsp;CMD&nbsp;config&nbsp;&lt;VAR&gt;' output)</I></TD></TR>
{% for key, value in ccdict.iteritems() %}
	<TR><TD><B>{{ key }} </B></TD><TD>{{ value }}</TD></TR>
{% endfor %}
<TR><TD COLSPAN="2" style="font-size: smaller;"><I>Please refer to 'R CMD config -h' for the meaning of these variables</I></TD></TR>
</TABLE>
<P><B>Compiler version</B> ('{{ ccdict['CC']}} --version' output):</P>
<PRE style="margin-left: 12px;">
{{ cc_compiler_version }}
</PRE>
<HR>
<H2>C++ compiler</H2>
<TABLE class="Rconfig">
<TR><TD style="background: #CCC; width: 150px;"><I><B>R variable</B> (VAR)</I></TD><TD style="background: #CCC;"><I><B>Value</B> ('R&nbsp;CMD&nbsp;config&nbsp;&lt;VAR&gt;' output)</I></TD></TR>
{% for key, value in cxxdict.iteritems() %}
	<TR><TD><B>{{ key }} </B></TD><TD>{{ value }}</TD></TR>
{% endfor %}
<TR><TD COLSPAN="2" style="font-size: smaller;"><I>Please refer to 'R CMD config -h' for the meaning of these variables</I></TD></TR>
</TABLE>
<P><B>Compiler version</B> ('{{ cxxdict['CXX'] }} --version' output):</P>
<PRE style="margin-left: 12px;">
{{ cxx_compiler_version }}
</PRE>
<HR>
<H2>C++11 compiler</H2>
<TABLE class="Rconfig">
<TR><TD style="background: #CCC; width: 150px;"><I><B>R variable</B> (VAR)</I></TD><TD style="background: #CCC;"><I><B>Value</B> ('R&nbsp;CMD&nbsp;config&nbsp;&lt;VAR&gt;' output)</I></TD></TR>
{% for key, value in cxx11dict.iteritems() %}
	<TR><TD><B>{{ key }} </B></TD><TD>{{ value }}</TD></TR>
{% endfor %}
<TR><TD COLSPAN="2" style="font-size: smaller;"><I>Please refer to 'R CMD config -h' for the meaning of these variables</I></TD></TR>
</TABLE>
<P><B>Compiler version</B> ('{{ cxx11dict['CXX1X'] }} --version' output):</P>
<PRE style="margin-left: 12px;">
{{ cxx_11_compiler_version }}
</PRE>
<HR>
<H2>Fortran 77 compiler</H2>
<TABLE class="Rconfig">
<TR><TD style="background: #CCC; width: 150px;"><I><B>R variable</B> (VAR)</I></TD><TD style="background: #CCC;"><I><B>Value</B> ('R&nbsp;CMD&nbsp;config&nbsp;&lt;VAR&gt;' output)</I></TD></TR>
{% for key, value in f77dict.iteritems() %}
	<TR><TD><B>{{ key }} </B></TD><TD>{{ value }}</TD></TR>
{% endfor %}
<TR><TD COLSPAN="2" style="font-size: smaller;"><I>Please refer to 'R CMD config -h' for the meaning of these variables</I></TD></TR>
</TABLE>
<P><B>Compiler version</B> ('{{ f77dict['F77'] }} --version' output):</P>
<PRE style="margin-left: 12px;">
{{ f77_compiler_version }}
</PRE>
<HR>
<H2>Fortran 9x compiler</H2>
<TABLE class="Rconfig">
<TR><TD style="background: #CCC; width: 150px;"><I><B>R variable</B> (VAR)</I></TD><TD style="background: #CCC;"><I><B>Value</B> ('R&nbsp;CMD&nbsp;config&nbsp;&lt;VAR&gt;' output)</I></TD></TR>
{% for key, value in f9xdict.iteritems() %}
	<TR><TD><B>{{ key }} </B></TD><TD>{{ value }}</TD></TR>
{% endfor %}
<TR><TD COLSPAN="2" style="font-size: smaller;"><I>Please refer to 'R CMD config -h' for the meaning of these variables</I></TD></TR>
</TABLE>
<P><B>Compiler version</B> ('{{ f9xdict['FC'] }} --version' output):</P>
<PRE style="margin-left: 12px;">
{{ f9x_compiler_version}}
</PRE>
<HR>
<P>More information might be added in the future...</P>
</DIV></BODY>
</HTML>
